/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ########## coman class ######### */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}
.container1{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex1{
    display: flex;
}
p{
    font-size: 13px;
    line-height: 1.5em;
}

/* ############## header ############### */
/* ########### section.father1############ */

.father1{
    background-color: rgb(1,45,91);
    padding: 0.5em 0;
}
.father1 a{
    color: white;
    /* margin-left: 1.5em; */
}
.father1 p{
    color: white;
    margin-right: 3em;
    margin-left: 0.5em;
}
.father1 .child3 a{
    margin-left: 1em;
}

/* ########### section.father2 ########## */
.father2{
    padding: 1em 0;
}
.father2 h2{
    font-size: 20px;
    font-weight: 900;
    color: rgb(1,45,91);
}
.father2 .child5 a{
    text-decoration: none;
    margin-right: 2.5em;
    color: rgb(1,45,91);
    font-size: 12px;
    font-weight: bold;
}
.father2 button{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color:rgb(253,101,107) ;
    border: 0;
    margin-left: 1em;
    color: white;
}
.father2 .child5{
    align-items: center;
}

/* ######### Section.father3 ########### */
.father3{
    height: 85vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://github.com/suraj122/AC-STYLE-checkpoint-3/blob/master/assets/media/hero/h1_hero.jpg?raw=true) ;
    position: relative;
}
.father3 .child6{
    position: absolute;
    top: 25%;
    left: 20%;
}
.father3 p{
  font-size: 11px;
  color: red;
}
.father3 h2{
  font-size: 40px;
 font-weight: 1000;
 color: rgb(1,45,91);
 line-height: 1.2em;
 margin-bottom: 1em;
}
.father3 button{
    width: 140px;
    height: 35px;
    border-radius: 5px;
    background-color:rgb(253,101,107) ;
    border: 0;
    color: white;
}

/* ############## section.father4 ############ */
.father4{
    background-color: rgb(246,249,254);
    padding: 5em 0;
}
.child9{
    flex: 0 1 32%;
}
.father4 .child7 figure{
  width: 95%;
}
.father4 .child7 article img{
    width: 100%;
}
.father4 .child7 article h3{
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0;
}
.father4 .child10{
    border: 3px solid red;
}
.father4 .child10 h2{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 2em;
}
.child10{
    flex: 0 1 22%;
  padding: 1.5em;
}
.child10 h6{
    font-size: 12px;
    margin-top: 3em;
    font-weight: 700;
}

/* ############## section.father5 ######### */
 .father5{
    padding: 5em 0;
    position: relative;
 }
 .father5 figure{
    width: 45%;
 }
 .father5 figure img{
    width: 100%;
 }
.father5 .child11 h2{
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 1em;
}
.father5 .child11{
    width: 30%;
    line-height: 1.7em;
    background-color: rgba(255, 255, 255, 0.392);
    position: relative;
    left: 37%;
    margin-top: -19em;
    padding: 2em;
}
.father5 button{
    width: 130px;
    height: 35px;
    border-radius: 5px;
    background-color:rgb(253,101,107) ;
    border: 0;
    color: white;
    margin-top: 2em;
    font-size: 11px;
}

/* ############### section.child12 ############## */
main .child12{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
main  .child13{
   flex: 0 1 20%; 
   text-align: center;
}
.father6{
    margin: 5em 0;
}
main  .child13 h3{
  font-size:20px ;
  font-weight: 700;
  margin: 1em 0;
}
.button3{
    width: 130px;
    height: 35px;
    border:1px solid red;
     color: red;
    background-color: rgba(255, 255, 255, 0.789);
    font-size: 11px;
    margin-left: 42.5%;
    margin-bottom: 7em;
}
.father6 a{
    font-size: 30px;
    color: black;
}

/* ############ section .father7 ########## */
.father7{
    background-color: rgb(248,250,254);
    padding: 7em 0;
}
.father7 figure {
    width: 30%;
  
}
.father7 figure img{
    width: 100%;
}
.father7 .child14{
    flex: 0 1 40%;
    margin-left: 20%;
}
.child15{
    flex: 0 1 20%;
    margin-left: 1em;
}
.child14 h3{
  font-size: 23px;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 0.7em;
}
.button4{
    width: 100px;
    height: 30px;
    border:1px solid red;
     color: red;
    background-color: rgba(255, 255, 255, 0.789);
    font-size: 11px;
    margin-top: 3em;
}
/* ######### section.father8 ########### */
.father8{
    text-align: center;
    margin-left: 39%;
}
.father8 .child18{
    font-size: 15px;
    font-weight: 500;
    margin-top: 1.5em;
}
.child16{
    width: 38%;
}
.child17 i{
    color:rgb(251,186,66) ;
    font-size: 13px;
    margin-top: 1em;
}
.father8 figure{
    width: 20%;
}
.father8 figure img{
    width: 100%;
    margin-left: 8em;
    
}
.child19{
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}
.paragraph{
    color:  rgb(1,45,91);
    margin-left: 8em;
    font-size: 10px;
}
.papagraph1{
    color: rgba(0, 0, 0, 0.54);
    font-size: 10px;
}

/* ############ section .child2 ############ */
.father9{
    padding-bottom: 2em;
}
.heading h2{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 1em;
}
.child20 figure{
    width: 95%;
}
.child20 figure img{
    width: 100%;
}
.child21 p{
  color:red;
  margin-bottom: 1em;
}
.child21 h5{
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
.child21{
    padding: 0.7em 1.5em;
}
address{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.521);
}
/* ################# section.father10 ########### */
.father10{
    height: 30vh;
   background-color: rgb(1,45,91); 
   padding-top: 6em;
}
.child22{
    flex: 0 1 25%;
    color: white;
}
.child22 h2{
    font-size: 25px;
    font-weight: 700;
   letter-spacing: 2px;
    margin-bottom: 0.7em;
}
.child23{
    width: 250px;
    height: 30px;
    line-height: 30px;
    padding-left:0.5em ;
    color: white;
  border: 2px solid rgba(255, 255, 255, 0.237);
 vertical-align: middle;
 font-size: 12px;
 border-radius: 3px;
}
.child24{
    margin-right: 2em;
}
.child25{
    width: 330px;
    height: 30px;
    line-height: 30px;
    padding-left:0.5em ;
    color: rgba(255, 255, 255, 0.49);
  border: 2px solid rgba(255, 255, 255, 0.237);
  margin-top: 1.5em;
  vertical-align: middle;
 font-size: 12px;
 border-radius: 3px;
}
.father10 button{
    width: 150px;
    height: 33px;
    margin-top: 1.4em;
    background-color: rgb(253,101,107);
    border: 0;
    color: white;
    border-radius: 5px;
    margin-left: 1.5em;
    font-size: 12px;
}

/* ########### footer ################ */
.father11{
    margin-top: 5em;
    padding-bottom: 4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
.child26{
    flex: 0 1 23%;
}
.child26 a{
    font-size: 10px;
    padding: 2px;
    background-color: black;
    color: white;
}
.child26 p{
    margin: 1em 0;
    color: rgba(0, 0, 0, 0.53);
}
.child27 h2{
    font-size: 14px;
    margin-bottom: 1em;
    font-weight: 700;
    color: rgb(1,45,91);
}
.child27 p{
    margin-bottom: 0.7em;
    color: rgba(0, 0, 0, 0.527);
}
.father12{
    text-align: center;
    margin: 1em 0;
}
.heart{
    color: red;
}
.coloriib{
    color: red;
}



